.statistics {
  margin: 10px;
  text-align: center;
  border: 1px solid teal;
}

.title {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: rgba(84, 85, 85, 0.5);
  letter-spacing: 0.1em;
}

.statList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  letter-spacing: 0.01em;
}
